/*assim ao carregar o style carrega junto também o arquivo header e nosso index fica com menos linhas de tags link*/
@import url("styles/header.css");

:root {
    --cor-branca: #FFFFFF;

    --fonte-barlow: 'Barlow', sans-serif;
    --fonte-fraunces: 'Fraunces', serif;
}